<style>
    .home {
        text-align: center;
        margin-top: 40px;
        font-size: 18px;
    }
</style>

<div class="home">
    <div class="alert alert-info">
        {{ retro.description }}
    </div>
    <section class="row" style="margin-bottom: 10px;">
        <form name="inputForm" ng-submit="submitForm()" novalidate>
            <div class="col-md-12 text-left" >
                <label for="type">Type: </label>
                <div id="type" class="btn-group" style="margin-bottom: 10px;">
                    <button type="button" class="btn btn-warning" ng-class="{active : type == 'START'}" ng-click="type = 'START'">Start</button>
                    <button type="button" class="btn btn-success" ng-class="{active : type == 'CONTINUE'}" ng-click="type = 'CONTINUE'">Continue</button>
                    <button type="button" class="btn btn-danger"  ng-class="{active : type == 'STOP'}" ng-click="type = 'STOP'">Stop</button>
                    <button type="button" class="btn btn-info" ng-class="{active : type == 'SHOUTOUT'}" ng-click="type = 'SHOUTOUT'">Shout Out</button>
                </div>
            </div>
            <div  class="col-md-12 text-left">
                <textarea class="{{type}}" placeholder="Remember, be nice!" style="width: 100%" rows="5" ng-model="description" ng-minlength="1" required/>
            </div>
            <div  class="col-md-12 text-left">
                <input type="submit" class="btn btn-primary" ng-disabled="inputForm.$invalid" value="Add"/>
            </div>
        </form>

    </section>
    <section class="row">
        <div class="col-md-6">
            <div class="panel panel-warning" style="padding: 0px !important;">
                <div class="panel-heading">
                    <h3 style="margin-top: 0px;">Start</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-body" style="padding: 5px;">
                        <div class="quote-container col-md-6" ng-repeat="input in retro.inputs | filter : { type: 'START' }">
                            <i class="pin"></i>
                            <blockquote class="note yellow">
                                {{input.description}}
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success" style="padding: 0px !important;">
                <div class="panel-heading">
                    <h3 style="margin-top: 0px;">Continue</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-body" style="padding: 5px;">
                        <div class="quote-container col-md-6" ng-repeat="input in retro.inputs | filter : { type: 'CONTINUE' }">
                            <i class="pin"></i>
                            <blockquote class="note green">
                                {{input.description}}
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-6">
            <div class="panel panel-danger" style="padding: 0px !important;">
                <div class="panel-heading">
                    <h3 style="margin-top: 0px;">Stop</h3>
                </div>
                <div class="panel-body">
                    <div class="quote-container col-md-6" ng-repeat="input in retro.inputs | filter : { type: 'STOP' }">
                        <i class="pin"></i>
                        <blockquote class="note red">
                            {{input.description}}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info" style="padding: 0px !important;">
                <div class="panel-heading">
                    <h3 style="margin-top: 0px;">Shout Out</h3>
                </div>
                <div class="panel-body">
                    <div class="quote-container col-md-6" ng-repeat="input in retro.inputs | filter : { type: 'SHOUTOUT' }">
                        <i class="pin"></i>
                        <blockquote class="note blue">
                            {{input.description}}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>