<div class="container">
<form class="form-signin" role="form">
  <h2 class="form-signin-heading">Please sign in</h2>
  
  <input ng-model="credentials.username" type="email" class="form-control" placeholder="Email address" required autofocus>
  <input ng-model="credentials.password" type="password" class="form-control" placeholder="Password" required>
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="authenticate()">Sign in</button>
  <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="test()">Read Cookie</button>

</form>
</div>